@import "../../styles/constants.scss";

.Card {
	width: "350px";
	height: "250px";

    &:hover{
        transform: scale(1.2);
    }

    @media #{$mobileS}{
		width: 300px;
		height: 320px;	 
	}
	@media #{$mobileXs}{
		width: 250px;
		height: 320px;	 
	}
}

.image{
    animation: showUpandDown 3s linear infinite;
}

@keyframes showUpandDown {
    0%{
        transform: scale(0.8);
    }
    50% {
        transform: scale(0.9);
    }
    100%{
        transform: scale(0.8);
    }
}