@import "../../styles/constants.scss";

.inputDiv {
	display: block;
	position: relative;
	width: calc(100%);
	height: auto;
	margin: 10px auto;
	padding: 20px 10px 0px;
}

.inputDiv .inputInput {
	display: block;
	width: 100%;
	border-radius: 30px;
	border: 0;
	padding: 10px 10px;
	font-size: 18px;
	height: auto;
    transition: 0.5s;
}

.inputLbl {
	position: absolute;
	width: auto;
	top: 30px;
	left: 30px;
	transform: scale(1);
    transition: 0.5s ;
    color: grey;
}

.inputInput:focus ~ .inputLbl{
	transform: translateY(-40px);
    color: #057edd;
}
.inputLblText{
    position: absolute;
	width: auto;
	top: -12px;
	left: 40px;
	transform: scale(1);
    transition: 0.5s ;
    color: #057edd;
}
.inputInput:focus{
    border: 2px solid #057edd;
    transform: translateY(-5px);
}

.inputDiv svg{
    position: absolute;
    right: 20px;
    top: 30px;
    transition: 0.5s ;
    cursor: pointer;
}

.inputInput:focus ~ svg{
	position: absolute;
    right: 20px;
    top: 28px;
}
.navbarLink {
	font-size: 1rem;
	padding: 10px 20px;
	text-decoration: none;
	color: #88beee;
	font-weight: 500;
	transition: color 0.3s ease, border-bottom 0.3s ease, transform 0.3s ease;
	border-bottom: 2px solid transparent;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	
	&:hover {
	  color: #3571b6;
	  border-bottom: 2px solid #3571b6; 
	}
  }
  
  .navbarHoverLink {
	padding: 10px 20px;
	font-size: 1rem;
	text-align: center;
	width: 100%;
	color: #fff;
	background-color: transparent;
	font-weight: 600;
	transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
	border-bottom: 2px solid transparent;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); 
	
	&:hover {
	  background-color: #1d3557;
	  color: #f1faee;
	  border-bottom: 2px solid #f1faee; 
	}
  }
  

.active {
	color:#057edd;
	font-weight: 800;
	border-bottom: 2px solid #629bdc; 

}