@import "../../styles/constants.scss";

.border {
	display: inline-block;
	border-bottom: solid 3px #51517e;
	color: #ffffff;
	font-size: 60px;
	text-shadow: "5px 5px black";
	margin-bottom: 50px;
	@media #{$mobile} {
		font-size: 35px;
		text-align: center;
	}
	@media #{$mobileXs}{
		margin-top: 10px;
		font-size: 30px;
		text-align: center; 
	}
}

.borderAction {
	animation-duration: 3s;
	animation-name: animate-border;
}

@keyframes animate-border {
	0% {
		transform: scaleX(0);
	}
	100% {
		transform: scaleX(1);
	}
}

.GridContainer {
	@media #{$mobile} {
		padding: "none";
	}
}

.TextName {
	@media #{$mobile} {
		font-size: 40px;
		text-align: center;
	}
}
.TextProf {
	@media #{$mobile} {
		font-size: 25px;
		text-align: center;
	}
}
.FotoPerfil {
	border-radius: 50%;
	overflow: hidden;
	width: 300px;
	height: 300px;
	margin-bottom: 80px;
	
	@media #{$mobile} {
		width: 200px;
		height: 200px;
	}
}

.WorkContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	padding: 3vh 0;
	background-color: #66c7e5;
	border-radius: 20px;
	margin: 20px 0;
}

.aboutText {
	padding: 30px;
	text-align: center;
	font-size: 30px;

	@media #{$mobile} {
		font-size: 18px;
	}
}

.aboutData li {
	color: black;
	font-size: 22px;
	margin-left: 10px;

	@media #{$mobile} {
		font-size: 15px;
	}
}
.aboutData li p {
	font-size: 18px;
	margin-left: 10px;

	@media #{$mobile} {
		font-size: 12px;
		margin: 0px;
		margin-left: -10px;

	}
}
.aboutEmail{
	@media #{$mobile} {
	}
}


.btnCurriculum {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.btnCurriculum button {
	margin: 20px auto;
	border: none;
	padding: 10px 44px;
	font-size: 30px;
	position: relative;
	background-color: #e2eaed;

	&::before {
		transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		content: "";
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 50px;

		margin-top: 20px;
		border-radius: 50px;
		width: 10%;
		height: 50%;
		background-color: white;
		border: 2px solid black;
	}

	border-radius: 50px;

	&:hover {
		&::before {
			width: 100%;
			height: 100%;
			margin: 0;
			border-radius: 50px;
			border: 2px solid black;
		}
	}

	@media #{$mobile} {
		font-size: 20px;
		&::before {
			margin-top: 10px;
		}
	}
}

.btnCurriculum button a {
	color: #ffffff;
	mix-blend-mode: difference;
}


.softSkillsText {
	text-align: start;
	font-size: 30px;
	text-decoration: solid;
	display: list-item;
	list-style-type: disc;
	list-style-position: inside;

	@media #{$mobile} {
		font-size: 18px;
		text-align: center;
	}
}
.contactContainer{
	width: 100%;
	padding: 30px;

	@media #{$mobile} {
		display: flex;
		flex-direction: column;
	}
}

.contactContainer div{
	
	@media #{$mobile} {
		width: 90%;
	}
}

.contactIcon{
	width: 100%;
	background-color: #E2EAED;
	border-radius: 20px;
	margin-bottom: 20px;
	
}
.contactIcon:hover svg{

	color: #1eb9e2;
}
.contactInput div{
		// $$inputColor: "#fff",
		width: 100%;
		border-radius: 30px;
		border: 0px;
		height: 42px;

}
.contactInput div :focus{
	border: 2px solid black;
	width: 110%;
	border-radius: 30px;
}

.contactLocation{
	@media #{$mobile} {
		width: 100%;
		margin: 0px;
		margin-bottom: 20px;
	}
}
.titleContact{
	font-size: 20px;
	@media #{$desktop}{
		font-size: 30px;
	}
	@media #{$desktopXl}{
		font-size: 35px;
	}
}